.zoom-view-main{
    padding: 80px 30px;
}
.zoom-view-main h1{
    margin-bottom: 30px;
}
.zoom-view-main .view-box-wrapper{
    float: left;
}
.zoom-view-main .view-box{
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid rgb(239,237,240);
}
.zoom-view-main .product-form{
    padding: 20px 0;
    border: 1px solid rgb(239,237,240);
    float: right;
    width: 600px;
}
.zoom-view-main .product-form h1{
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bolder;
}
.zoom-view-main .product-form .price-box{
    background-color: #FFF2E8;
    padding: 30px 10px;
    text-align: left;
    margin: 0 30px;
}
.zoom-view-main .zoom-box{
    width: 400px;
    height: 400px;
    top: 0;
    left: 415px;
    position: absolute;
    border: 1px solid rgb(239,237,240);
    overflow: hidden;
    display: none;
}
.zoom-view-main .zoom-box img{
    position: absolute;
    left: 0;
    top: 0;
}
.zoom-view-main .view-box .view-box-selector{
    position: absolute;
    background-image: url("images/selector.png");
    background-repeat: repeat;
    display: none;
    cursor: crosshair;
}
.zoom-view-main .view-box .zoom-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgb(165,165,165);
    background: rgba(239,237,240,0.4);
    font-size: 1.5em;
}
.zoom-view-main .view-box img{
    height: 100%;
    width: 100%;
}
.zoom-view-main .picture-list{
    width: 374px;
    height: 60px;
    margin-top: 10px;
    position: relative;
    padding: 0 13px;
}
.zoom-view-main .picture-list .picture-list-wrapper{
    width: 100%;
    overflow: hidden;
}
.zoom-view-main .picture-list ul{
    height: 60px;
    list-style: none;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    position: relative;
    transform: translate(0px);
}
.zoom-view-main .picture-list ul li{
    width: 60px;
    height: 60px;
    padding: 0 8px;
    float: left;
    cursor: pointer;
}
.zoom-view-main .picture-list ul li img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.zoom-view-main .picture-list ul li img.active{
    border: 2px solid red;

}
.zoom-view-main .picture-list .arrow{
    position: absolute;
    top: 30px;
    margin-top: -0.5em;
    cursor: text;
    color: rgb(165,165,165);
}
.zoom-view-main .picture-list .arrow-left{
    left: 0px;
}
.zoom-view-main .picture-list .arrow-right{
    right: 0px;
}
.zoom-view-main .picture-list .active{
    color: #000000;
    cursor: pointer;
}